{% extends "users/base.html" %}
{% block content %}
<h2>TODO LIST</h2>
<div class="border-top pt-3 pb-3">
    <h3>Ваши заметки</h3>
</div>
{% for task in tasks %}
<div class="border-top border-bottom pt-2 pb-2">
    <h4>Название: {{ task.title }}</h4>
    <h5 class="pt-4">Описание</h5>
    <p class="border p-3"><em>{{ task.description }}</em></p>
    <p>Выполнена? <input class="pt-4" type="checkbox" {% if task.complete %}checked{% endif %} value="{{ task.complete }}"></p>
    <p class="pt-4 font-italic">Создана: {{ task.created_at }}</p>
    <div class="btn-group">
        <a href="{% url 'edit_task' task.id %}" class="btn btn-outline-primary mr-2">Редактировать</a>
        <form method="post" action="{% url 'delete_task' task.id %}" class="delete-form">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger">Удалить</button>
        </form>
    </div>
</div>
{% endfor %}
{% endblock content %}